study_ws/study_ws_JAX-WS/sp_ws_contractPriority_server/src/META-INF/wsdl/mywsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/mywsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyServiceImplService" targetNamespace="http://www.example.org/mywsdl/">

    <!--第一步：创建wsdl文件-->
    <!--第二步：编写 types方法以及types方法一一对应的message，即接口调用的方法-->
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/mywsdl/">
            <xsd:element name="add" type="tns:add"/>
            <xsd:element name="addResponse" type="tns:addResponse"/>
            <xsd:element name="divide" type="tns:divide"/>
            <xsd:element name="divideResponse" type="tns:divideResponse"/>

            <xsd:complexType name="add">
                <xsd:sequence>
                    <xsd:element name="a" type="xsd:int"/>
                    <xsd:element name="b" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addResponse">
                <xsd:sequence>
                    <xsd:element name="addResult" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="divide">
                <xsd:sequence>
                    <xsd:element name="num1" type="xsd:int"/>
                    <xsd:element name="num2" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="divideResponse">
                <xsd:sequence>
                    <xsd:element name="divideResult" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:add"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:addResponse"/>
    </wsdl:message>
    <wsdl:message name="divide">
        <wsdl:part name="divide" element="tns:divide"/>
    </wsdl:message>
    <wsdl:message name="divideResponse">
        <wsdl:part name="divideResponse" element="tns:divideResponse"/>
    </wsdl:message>


    <!--第三步：编写对象的接口方法 指定每个方法的，input和output-->
    <wsdl:portType name="IMyService">
        <wsdl:operation name="add">
            <wsdl:input message="tns:add"/>
            <wsdl:output message="tns:addResponse"/>
        </wsdl:operation>
        <wsdl:operation name="divide">
            <wsdl:input message="tns:divide"/>
            <wsdl:output message="tns:divideResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--第四步：编写binding，指定编码样式 -->
    <wsdl:binding name="myServiceSOAP" type="tns:IMyService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="divide">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!--第五步：编写 Service；注意wsdl:service name="" 必需与我们的命名空间定义的 Service名是一致的-->
    <wsdl:service name="MyServiceImplService">
        <wsdl:port binding="tns:myServiceSOAP" name="MyServiceImplPort">
            <soap:address location="http://localhost:8989/ms/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
